version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "security"
    commit-message:
      prefix: "deps"

  - package-ecosystem: "npm"
    directory: "/cogs/steam/steam_presence"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "security"
    commit-message:
      prefix: "deps"

  - package-ecosystem: "npm"
    directory: "/cogs/twitch/dashboard_v2"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "security"
    commit-message:
      prefix: "deps"
