.env
.env.worker
.env.*
__pycache__
node_modules/
/Backup
/logs

tempvoice_interface.json
*.json
install_windows_service.py
*.db
*__pycache__
*pyc
*sqlite3-wal
*sqlite3
*sqlite3-shm
*env*
*.env*
*.json
/cogs/steam/steam_presence/.steam-data/*
/cogs/steam/steam_presence/node_modules/*
!cogs/steam/steam_presence/package.json
!cogs/steam/steam_presence/package-lock.json
!cogs/steam/steam_presence/index.js
!cogs/steam/steam_presence/README.md
!cogs/steam/steam_presence/deadlock_presence_logger.js
!cogs/steam/steam_presence/statusanzeige.js

*.db-shm
*.db-wal
*.db
cogs/faq_menu.py
clip_submission*
!quick_invites.js
service/changelogs.py
standalone/csv_to_deadlock.py
standalone/build_changelog_sqlite.py
standalone/import_changelogs.py
standalone/deadlock_changelogs.csv
standalone/check.py
cogs/audit.py
alice.ps1
CON
*.log
service/logs/rename_worker.log
/service/logs
*.PNG
C:\Users\Nani-Admin\Documents\Deadlock\.claude\claude-code-chat-images\*