.env
.env.worker
.env.*
/__pycache__
/Backup
/cogs/__pycache__
/rank_bot/__pycache__
/original_scripts/__pycache__
/logs
/voice_data/*db
/voice_data/*db-wal
/voice_data/*db-shm
/voice_data/*json
tempvoice_interface.json
*.json